@import url("https://fonts.google.com/specimen/Rubik");
:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  /* ### Neutral */

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(226, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-dark-blue);
  font-family: "Rubik";
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}
.container {
  width: 90%;
  padding:5px;
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr;
  /* border: 1px solid red; */
}
.user {
  background-color: var(--Blue);
  border-radius: 20px;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 7rem;
  overflow: hidden;
}
.user-content {
  display: flex;
  align-items: center;
/* background-color: red; */
}
.user-content img {
  width: 70px;
  border: 2px solid white;
  border-radius: 50%;
  height: 70px;
  margin-left: 2rem;
  margin-right: 10px;
}
.username h4 {
  font-weight: 300;
  color: var(--Pale-Blue);
  font-size: 18px;
}
.username h2 {

  font-weight: 300;
}
.activity {
  position: absolute;
  background-color: var(--Dark-blue);
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 2rem 2rem;
  border-radius: 20px;
  width: 100%;
  margin-top: 2.3rem;
  color: var(--Desaturated-blue);
  left: 0;
}
.cards {
  /* background-color: var(--Light-red-work); */
  border-radius: 20px;
  padding-bottom: 11rem;
  position: relative;
  overflow: hidden;
}


.card-img img {
  position: absolute;
  right: 0;
  top: 0;
}
.card-activity {
  background-color: var(--Dark-blue);
  position: absolute;
  width: 100%;
  justify-content: space-between;
  padding: 1.4rem;
  border-radius: 20px;
  bottom: 0;
  display: flex;
}
.card-content h1 {
  /* background: red; */
  font-size: 2.5rem;
  /* padding-top: 10px; */
  font-weight: 200;
}
.last-activitys {
  /* background: red;/ */
  text-align: right;
}
.last-activitys h3 {
  padding-top: 30px;
  color: var(--Desaturated-blue);
  font-size: 16px;
  font-weight: 300;
}
.work {
  background-color: var(--Light-red-work);
}
.social {
  background-color: var(--Violet-social);
}
.self-care {
  background-color: var(--Soft-orange-self-care);
}
.play {
  background-color: var(--Soft-blue-play);
}
.study {
  background-color: var(--Light-red-study);
}
.exercise {
  background-color: var(--Lime-green-exercise);
}
.main-card {
  display: grid;
  grid-template-columns:1fr;
  gap:1rem;
}
#weekly:hover{
  color: var(--Pale-Blue);
}
#daily:hover{
  color: var(--Pale-Blue);
}
#monthly:hover{
  color: var(--Pale-Blue);
}
.card-activity:hover {
  opacity: 0.9;
  background: var(--Pale-Blue);
}
@media (min-width: 976px) {
  .container {
    max-width: 1440px;
    grid-template-columns: 200px 2fr;
  }
  .main-card {

    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .user {
    height: 100%;
  }
  .user-content {
    flex-direction: column;
    align-items: start;
  }
  .user-content img{
    margin-left: 10px;
  }
  .username{
    margin-top: 2.5rem;
    margin-left: 10px;
  }
  .username h2{
    font-size: 2rem;
  }
  .activity {
    flex-direction: column;
    padding: 20px;
    gap:2rem;
  }
  .cards {
    padding-bottom: 14rem;
  }
  .card-activity {
    padding-bottom: 4.5rem;
  }
  .last-activitys h3 {
    position: absolute;
    left: 10%;
    bottom: 20%;
  }
  .card-content h1 {
    font-size: 2rem;
  }
  /* ! HAHAHAHAAHAHAHAHAAHAHAHAHAAAAAAAAAAAAAAAAAAAAAA*/
}
